@charset "UTF-8";

// 컬러시스템
$point-color: #076ee5;
$pri-color: #ffcc00;
$sec-color: #f5f5f5;

// 강조 도서관체
@font-face {
  font-family: "Dosuguan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/도서관체.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 강조 KCC임권택체
@font-face {
  font-family: "KCCImkwontaek";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/KCCImkwontaek.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 강조 만세체
@font-face {
  font-family: "Manse";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Manse.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// 모바일
$mobile: "screen and (max-width:640px)";

// 섹션 마진 패딩 변수
@mixin MgPdBasic {
  position: relative;
  width: 1200px;
  margin: 30px auto 50px;
  padding: 50px 0;
}

// h2 제목 변수
@mixin h2Basic {
  margin-bottom: 20px;
  font-size: 2.1rem;
  font-weight: 700;
  font-family: "Dosuguan";
  line-height: 80px;
  letter-spacing: 2px;
  text-align: center;
}

// 이미지 고정 변수
@mixin imgBasic {
  display: block;
  width: 100%;
}

// BGI 고정 변수
@mixin bgiBasic {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background-size: cover;
  background-position: center center;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $sec-color;
}

#wrap {
  position: relative;
  min-width: 1200px;
  margin: 0 auto;
} //end of #wrap

header {
  min-width: 100%;
  background-color: #fff;

  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  }

  > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 50px;
    margin: 0 auto;

    > h1 {
      width: 30px;
      > .logo {
        display: block;
        height: 30px;
        text-indent: -9999px;
        > img {
          @include imgBasic;
        }
      } //end of .logo
    } //end of h1
    > .gnb {
      display: flex;
      justify-content: space-between;
      width: 800px;
      > li {
        &.on,
        &:hover {
          text-decoration: line-through;
          text-decoration-color: $pri-color;
        }

        > a {
          display: block;
          color: $pri-color;
          font-size: 1.4rem;
          font-weight: 500;
          font-family: "Dosuguan";
        }
      } //end of li
    } //end of .gnb
  } //end of nav
} //end of header

section {
  > .home {
    height: 70vh;
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    > .aboutme-card {
      position: relative;
      height: 500px;
      > .yellowbox {
        position: absolute;
        left: 50%;
        width: 900px;
        height: 400px;
        margin-left: -450px;
        background: radial-gradient(
            circle at 80% 0,
            $point-color,
            rgba(255, 0, 0, 0) 30%
          ),
          radial-gradient(
            circle at 10% 100%,
            $pri-color,
            rgba(0, 0, 255, 0) 70%
          ),
          radial-gradient(
              circle at 10% 100%,
              $sec-color,
              rgba(0, 255, 0, 0) 60%
            )
            beige;
        border-radius: 30px;
        box-shadow: 0 5px 8px 2px rgba(64, 70, 67, 0.2),
          0 3px 3px 3px rgba(29, 31, 30, 0.3);
        z-index: -1;
        > .frame {
          display: block;
          position: absolute;
          left: 12%;
          top: 50%;
          margin-top: -100px;
          width: 200px;
          height: 200px;
          > img {
            @include imgBasic();
          }
        }
      } //end of .yellowbox
      > ul {
        display: grid;
        position: absolute;
        left: 50%;
        top: 20%;
        grid-template-rows: 1fr;
        row-gap: 30px;
        > li {
          display: grid;
          grid-template-columns: 100px 1fr;
          column-gap: 50px;

          > h3 {
            font-size: 1.4rem;
          }
          > p {
            font-size: 1.2rem;
            font-weight: 600;
          }
        } //end of li
      } //end of ul
    } //end of .aboutme-card
  }
} //end of section

#aboutme {
  @include MgPdBasic();
  > h2 {
    @include h2Basic();
  }

  > .title {
    position: relative;
    width: 1200px;
    height: 80vh;
    margin: 0 auto 100px;
    > h3 {
      position: absolute;
      left: 50px;
      color: #000;
      font-size: 8.5rem;
      font-weight: 400;
      line-height: 230px;
      letter-spacing: 20px;
      font-family: "Manse";
      z-index: 20;
    }
    > .frame {
      display: block;
      position: absolute;
      right: 0;
      bottom: 20px;
      width: 600px;
      > img {
        @include imgBasic();
      }
    } //end of .frame
  }
  > .aboutme-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 600px;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-top: 5px solid $point-color;
      border-left: 5px solid $point-color;
      content: "";
    }

    &:after {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      border-right: 5px solid $point-color;
      border-bottom: 5px solid $point-color;
      content: "";
    }

    > ol {
      > li {
        margin: 50px 0;
        text-align: center;

        > h3 {
          padding: 15px 0;
          color: darken($point-color, 20%);
          font-size: 1.2rem;
        }
        > p {
          font-size: 0.8rem;
          line-height: 2;
        }
      } //end of li
    } //end of ol
  } //end of .aboutme-section
} //end of #aboutme

#skill {
  @include MgPdBasic();
  min-width: 100%;
  background-image: url(./../images/skillBGI.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  > h2 {
    @include h2Basic();
    width: 1200px;
    margin: 0 auto;
  }

  > .skill-tools {
    width: 900px;
    margin: 0 auto;
    > .item {
      position: relative;
      margin: 15px 0;
      &:nth-of-type(5) > .item-frame {
        margin-left: -70px;
        width: 150px;
      }
      > .item-frame {
        display: inline-block;
        width: 60px;
        > img {
          @include imgBasic();
        }
      } //end of .item-frame
      > .progress {
        position: absolute;
        left: 80px;
        top: 40%;
        width: 90%;
        height: 10px;
        background-color: #3c3d4a;
        border-radius: 3px;

        > .bar {
          width: 0;
          height: 100%;
          background-color: $pri-color;
          transition: all 1s;
          > span {
            position: absolute;
            top: -20px;
            right: 15px;
            font-size: 1rem;
          }
        } //end of .bar
      } //end of .progress
    } //end of .item
  } //end of .skill-tools

  > h2 {
    @include h2Basic();
    width: 1200px;
    margin: 0 auto;
  }

  > .skill-ability {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 15px auto;
    > .item {
      width: 140px;
      height: 200px;

      > .chart {
        position: relative;
        width: 120px;
        height: 120px;
        text-align: center;

        canvas {
          position: absolute;
          left: 0;
          top: 0;
        }

        > .percent {
          color: #333;
          font-size: 1rem;
          font-weight: 500;
          line-height: 120px;

          &:after {
            content: "%";
          }
        } //end of .parcent

        > .tit {
          height: 60px;
          color: #333;
          font-weight: 500;
          font-size: 1rem;
          line-height: 60px;
        } //end of .tit
      } //end of .chart
    } //end of .item
  } //end of .skill-ability
} //end of #skill

#uxdesign {
  @include MgPdBasic;
  margin-top: 100px;

  display: grid;
  grid-template-columns: 180px 1020px;

  > .ux-tit {
    > h2 {
      @include h2Basic;
      position: absolute;
      top: 130px;
      left: 0;
    }

    > .ux-top {
      height: 230px;

      > h3 {
        position: absolute;
        top: 250px;
        left: 0;
        width: 160px;
        font-size: 1.2rem;
        line-height: 1.3;
      }

      > p {
        position: absolute;
        top: 330px;
        left: 0;
        width: 160px;
        font-size: 1rem;
        line-height: 1.7;
        text-align: left;
      }
    } //end of .ux-top
  } //end of .ux-tit

  > .uxdesign-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    > .uxdesign-container {
      margin: 20px 0;

      &:nth-of-type(1) > .frame > a {
        background-image: url(./../images/ux/001-UX.jpg);
      }
      &:nth-of-type(2) > .frame > a {
        background-image: url(./../images/ux/002-Design_UX.jpg);
      }
      &:nth-of-type(3) > .frame > a {
        background-image: url(./../images/ux/003-Persona.jpg);
      }
      &:nth-of-type(4) > .frame > a {
        background-image: url(./../images/ux/004-Storybord.jpg);
      }
      &:nth-of-type(5) > .frame > a {
        background-image: url(./../images/ux/005-Aesthetic.png);
      }
      &:nth-of-type(6) > .frame > a {
        background-image: url(./../images/ux/006-UXUI.png);
      }
      &:nth-of-type(7) > .frame > a {
        background-image: url(./../images/ux/007-media.png);
      }

      > .frame {
        display: block;
        width: 500px;
        height: 280px;

        &:hover > a {
          box-shadow: 0 0 0 500px inset rgba(255, 255, 255, 0.5);
          transition: all 0.3s;
        }

        > a {
          @include bgiBasic();
        } //end of a
      } //end of .frame

      > h3 {
        &:hover > a {
          color: $point-color;
        }

        > a {
          display: block;
          font-size: 1rem;
          font-weight: 600;
          text-align: center;
          line-height: 2.5;
        } //end of a
      } //end of h3

      > p {
        width: 500px;
        font-size: 0.8rem;
        text-align: center;
      } //end of p
    } //end of .uxdesign-container
  } //end of .uxdesign-wrapper
} //end of #uxdesign

#portfolio {
  position: relative;
  min-width: 1200px;
  margin: 30px auto 50px;
  padding: 50px 0;
  background-color: #fff;

  > h2 {
    @include h2Basic();
    position: relative;
    margin-bottom: 80px;
  }

  > .portfolio {
    width: 1200px;
    margin: 0 auto;
    > .portfolio-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      position: relative;
      > .portfolio-container {
        margin: 20px 0;

        &:nth-of-type(1) > .frame > a {
          background-image: url(./../images/website/thm_cj.png);
        }
        &:nth-of-type(2) > .frame > a {
          background-image: url(./../images/website/thm_subway.png);
        }
        &:nth-of-type(3) > .frame > a {
          background-image: url(./../images/website/thm_myrealtrip.png);
        }
        &:nth-of-type(4) > .frame > a {
          background-image: url(./../images/website/thm_lookpin.png);
        }
        &:nth-of-type(5) > .frame > a {
          background-image: url(./../images/website/thm_lotto.png);
        }
        &:nth-of-type(6) > .frame > a {
          background-image: url(./../images/website/thm_kakaoslide.png);
        }
        &:nth-of-type(7) > .frame > a {
          background-image: url(./../images/website/thm_anitmr.png);
        }

        > .frame {
          display: block;
          width: 350px;
          height: 350px;

          &:hover > a {
            box-shadow: 0 0 0 500px inset rgba(255, 255, 255, 0.5);
            transition: all 0.3s;
          }

          > a {
            @include bgiBasic();
          }
        } //end of .frame

        > .subtit {
          font-size: 0.8rem;
          text-align: center;
          line-height: 1.7;
        } //end of .subtit

        > h3 {
          font-size: 1.2rem;
          text-align: center;
          line-height: 1.3;

          &:hover > a {
            color: $point-color;
          }
        } //end of h3

        > p {
          &:hover > a {
            color: $pri-color;
          }

          > a {
            display: block;
            font-size: 0.8rem;
            text-align: center;
            line-height: 1.7;
          }
        }
      } //end of portfolio-container
    } //end of .portfolio-wrapper
  } //end of .portfolio
} //end of #portfolio

footer {
  position: relative;
  > #contact {
    @include MgPdBasic();
    height: 600px;
    > h2 {
      @include h2Basic();
    }
    > .contact-card {
      > .yellowbox {
        position: absolute;
        left: 50%;
        width: 900px;
        height: 400px;
        margin-left: -450px;
        background: radial-gradient(
            circle at 80% 0,
            $sec-color,
            rgba(255, 0, 0, 0) 30%
          ),
          radial-gradient(
            circle at 10% 100%,
            $point-color,
            rgba(0, 0, 255, 0) 70%
          ),
          radial-gradient(
              circle at 50% 100%,
              $pri-color,
              rgba(0, 255, 0, 0) 60%
            )
            beige;
        border-radius: 30px;
        box-shadow: 0 5px 8px 2px rgba(64, 70, 67, 0.2),
          0 3px 3px 3px rgba(29, 31, 30, 0.3);

        > .frame {
          display: block;
          position: absolute;
          top: 50px;
          left: 50px;
          width: 100px;
          height: 100px;
          > img {
            @include imgBasic();
          }
        }

        > .coment {
          position: absolute;
          right: 50px;
          top: 50px;
          font-size: 2rem;
          font-weight: 700;
          font-family: "KCCImkwontaek";
          line-height: 2;
          text-align: right;
        }

        > address {
          position: absolute;
          left: 50px;
          bottom: 50px;
          font-size: 1rem;
          line-height: 1.1;
        }

        > .thanks {
          position: absolute;
          right: 50px;
          bottom: 80px;
          font-size: 2rem;
          font-family: "KCCImkwontaek";
        }
      }
    } //end of .contact-card
  } //end of #contact

  > .copy {
    min-width: 1200px;
    height: 50px;
    background-color: darken($sec-color, 10%);
    > address {
      font-size: 0.8rem;
      text-align: center;
      line-height: 50px;
    }
  }
}
